.light-theme{
	ion-content {
		background-color: #ABB2B9;
	}

	.toolbar-title {
		color: #808B96;
	}

	.header .toolbar-background {
		border-color: #2C3E50;
		background-color: #5D6D7E;
	}
	.button {
		color: #ffffff;
	}
}