
.autumn-theme{
	ion-content {
		background-color: #FFCCBC; 
	}

	.toolbar-title {
		color: #F8F9F9;
	}

	.header .toolbar-background {
		border-color: #FFAB91;
		background-color:  #FFAB91; 
	}
	
  

    .button-full {
    	background-color:#FFCC80;
     }

    .button-md:hover:not(.disable-hover) {
   		 background-color: #FFCC80;
	}
	.bar-button {
		color: #c3d0d2; 
    }
    .button-inner{
        color: black;
	}
	

	
	

}